/*
$primary-color: #007bff;
$warning-color: #ffc107;
$success-color: #28a745;
$danger-color: #dc3545;
*/

$primary-color: #00BCD4;
$warning-color: #FFC107;
$success-color: #CDDC39;
$danger-color: #673AB7;